::-webkit-scrollbar{
    display: none;
}
body{
    background: rgba(0, 0, 0, 0.85) no-repeat fixed center;
    max-height: 100%;
    font-family: Numans-Regular;
    margin: 0; !important;

}
.port{
    background: no-repeat fixed center;

}
audio {
    width: 5rem;
    display: block;
}
@font-face {
    font-family: Anton;
    src: url(Anton.ttf);
}
@font-face {
    font-family: Numans-Regular;
    src: url(Numans-Regular.ttf);
}
h3{
    font-family: Anton;
    font-weight: lighter;

}
.tausta{
    background: rgba(0, 0, 0, 0.0);
    z-index: 1;

}


.kuva{
    max-height: 10rem;
    border-radius: 80px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#otsikko{
    font-family: Anton;
    font-weight: lighter;
    font-size: 2rem;
    color: white;

}

li {
    float: left;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


* {
    box-sizing: border-box;
}


.center{
    text-align: center;
}


.topnav {
    font-family: Anton;
    z-index: 100;
    position: fixed;
    font-size: x-large;
}

.someClass{
    max-height: 32px;

}

#some{
    right: 0;
    position: fixed;
    z-index: 100;

}
.column{
    float: right;
}
.flex{
    display: flex;
}
.divider {
    content: "";
    background-color: white;
    display: block;
    width: 2px;
    height: 80%;
    margin: auto auto;
}
.column.side {
    width: 100%;
    color: #f1f1f1;
    padding: 2rem;
}

.column.middle {
    width: 40%;
    margin: 2rem;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
#wrapper{
    text-align: center;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.floating-menu {
    font-family: sans-serif;
    padding: 5px;;
    width: 130px;
    z-index: 100;
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-size: x-large;
}

.floating-menu a,
.floating-menu h3 {
    font-size: 0.9em;
    display: block;
    margin: 0 0.5em;
    color: white;
}
.pointer {
    cursor: pointer;
}
p{
    color: white;
    font-family: Numans-Regular;
}
h2{
    color: white;
    font-family: Numans-Regular;
}
.background {
    background: url(gram2.png) no-repeat center center;
    background-size: cover !important;
    height: 566px;
}

.header {
    color: white;
    position: absolute;
    top: 350px;
    left: 50%;
    margin-top: -37px;
    margin-left: -285px;
    font-size: 400%;
    z-index: 10;
}

.dropdown {
    background-color: rgba(0,0,0,0);
    color: white;
    float: left;
    z-index: 100;
}

.dropdown-content {
    display: none;
    color: white;
    z-index: 100;
}
.dropdown-content2 {
    display: none;
    color: white;
    z-index: 100;
    -webkit-animation: slide-down 0.2s ease-out;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
    -webkit-animation: slide-right 0.2s ease-out;
}

.dropdown-content:hover{
    text-shadow: 0 0 15px rgba(255,255,255,1);
}
.dropdown-content2:hover{
    text-shadow: 0 0 15px rgba(255,255,255,1);
}

.hoverOver:hover{
    text-shadow: 0 0 15px rgba(255,255,255,1);
}

.hoverOverSome:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(1px 0px 10px rgba(255,255,255,1));
}
.effect1{
    box-shadow:
            0 10px 25px rgba(0,0,0,.5);
}
.effect2{
    text-shadow:
            0 10px 10px rgba(0,0,0,1);

}
.effect3{
    text-shadow: 0 10px 10px rgba(0, 0, 0, .5);

}
.effect4{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(0px 10px 5px rgba(0,0,0,.5));
}
@-webkit-keyframes slide-right {
    0% { opacity: 0; -webkit-transform: translateX(-100%); }
    100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-webkit-keyframes slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
.frontkuva{
    max-width: 16rem;
}
.button{
    background-color: #111111;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
    font-size: 16px;
}
input[type="file"] {
    display: none;
}